# Per developer files
build/
.idea/
.gradle/
.kotlin/

# Dockerfile related files do not need to be included
Dockerfile
docker-compose.yml
.env

# Not used in running application
reposilite-site
reposilite-test
reposilite-plugins
.github/
.codecov.yml
